{% extends "base.html" %}

{% block navigation %}
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="{% url 'gigs:index' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'gigs:summary' %}">Summary</a></li>
  <li role="presentation"><a href="{% url 'gigs:add_gig' %}">Add a gig</a></li>
</ul>
{% endblock %}

{% block content %}
{% if gig_list %}
    {% for gig in gig_list %}
    <div class="row row--margin-top">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{ gig.act_name }}</strong> at {{ gig.gig_venue }}
                </div>
                <div class="panel-body">
                    <p>Starts at {{ gig.gig_time }} on {{ gig.gig_date | date:"jS M Y" }}.</p>
                    <p>
                        {% if gig.meeting_point %}
                            Meeting point: {{ gig.meeting_point }}
                        {% else %}
                            No meeting point has been specified.
                        {% endif %}
                    </p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Signed up</th>
                            </tr>
                        </thead>
                        <tbody>
                             <tr>
                                <td>
                                    {% if gig.attendees %}
                                        {{ gig.attendees |linebreaks }}
                                    {% else %}
                                        No one has signed up yet. Be the first!
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="panel-footer">
                    <form action="{% url 'gigs:delete_gig' gig.id %}" method="get" class="form-align">
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm btn--float"/>
                    </form>
                    <form action="{% url 'gigs:edit_gig' gig.id %}" method="get" class="form-align">
                        <input type="submit" value="Edit" class="btn btn-warning btn-sm btn--float btn--margin-right"/>
                    </form>
                    <a class="btn btn-primary btn-sm" href="{{ gig.gig_url }}" target="_blank" role="button">Gig website</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% else %}
    <div class="row">
        <div class="col-xs-12">
            There are no gigs yet.
        </div>
    </div>
{% endif %}
</div>

{% endblock %}